* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

nav a {
    text-decoration: none;
    color: #00AB54;
    font-weight: 500;
    padding-right: 10px;
}
.search{
    display: inline-block;
}

.search label{
    display: inline-block;
    margin-right: 1em;
}
.logo {
    display: flex;
}


.btn {
    border-radius: 1em;
    padding: 1em;
    background-color: #00c573;
    color: #fff;
}

.date {
    float: right;
}

.btn-atras {
    padding-left: 5em;
}

.form-ticket {
    margin-top: 2em;
    margin-right: 10%;
    margin-left: 10%;
}

.form-ticket input {

    margin-top: 10px;
}

.input {
    align-items: center;
    padding: 1em;
    margin-left: 10%;
}


.input input {
    float: right;
    margin-right: 10%;
}

.ticket-detail {
    background-color: #00AB54;
    margin: 10px 10%;
    border-radius: 1em;
    padding: 1em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000
}

.options {
    border-radius: 1em;
    background-color: #00AB54;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    padding-top: 1em;
    margin-right: auto;
}

.options button {
    margin: 10px 20px;
}
.content{
    overflow: hidden;
    display: inline-block;
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-msg {
    color: red;
    text-align: center;
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}